.angular-ui-tree-handle {
    cursor: pointer;
}

.material-icons.close {
    cursor: pointer;
}

.material-tooltip {
    width: 200px;
}

.main-navbar a {
    color: black;
}
.fin-dep-icon {
    height: 64px;
}
.periods {
    margin-bottom: 1rem;
}
.periods .active {
    background: rgba(0,0,0,0.1);
}

.periods ul {
    background: #eee;
    margin: 0;
    padding: 0 1rem;
}
.periods ul li {
    display: inline-block;
    padding: 1rem;
    height: 50px;
}
.periods ul li:hover {
    background: rgba(0,0,0,0.1);
}

.periods ul li a {
    color: black;
}

.container.narrow-40 {
    width: 40%;
}

.card-page {
    padding: 1rem;
}

.card-page .main-info {
    display: flex;
    justify-content: space-between;
}

.card-page .where-from-to p {
    font-weight: 500;
    background: #eee;
    border-radius: 4px;
    padding: .5rem;
}

.working-area {
    display: flex;
    width: 100%;
}


.sidepanel {
    width: 220px;
    padding: .5rem 0;
    color: white;
}
.sidepanel > div {
    cursor: pointer;
    padding: .5rem;
    margin-bottom: .5rem;
}
.sidepanel .label {
    font-weight: 500;
}
.sidepanel .warning {
    background: red;
}
.sidepanel .info {
    background: #75C0E0;
}
.sidepanel .vedomstvo {
    background: orange;
}

.kanban {
    height: calc(100vh - 143px);
    padding: 0 .5rem;
    flex: 1;
    display: flex;
}

.column {
    display: inline-block;
    height: 100%;
    width: 30%;
    margin: .5rem;
    padding: 1rem;
    background: #eee;
    border-radius: .25rem;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.column .column-header h6 {
    font-weight: 500;
}

.column .cards-wrapper {
    height: 100%;
    overflow: auto;
    /* padding-right: 17px;
    margin-right: -34px; */
}

.card {
    cursor: pointer;
}
.card.danger::after {
    content: "!";
    display: inline-block;
    position: absolute;
    z-index: 1;
    bottom: -10px;
    right: -10px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.card .danger {
    color: red;
    position: absolute;
    right: 0;
    bottom: -7px;

}

.card .card-title {
    font-size: 16px;
    padding: .5rem;
}
.card .card-title .mail {
    float: right;
    margin-right;
}

.card .to-institute {
    font-weight: 500;
    display: block;
}

.card .card-content {
    padding: .5rem;
}

.budget-status {
    flex: 1;
    padding: 0 1rem;
}

.budget-status .title {
    font-weight: 500;
    padding: 0 .5rem;
}

.budget-row {
    background: #eee;
    padding: .5rem;
    border-radius: 4px;
    margin: .3rem 0;
    font-weight: 700;
    font-size: .9rem;
}
.budget-row.red {
    background: linear-gradient(0deg, #CC2222, #CC2222);
    color: white;
}
.budget-row.orange {
    background: linear-gradient(0deg, #FF5C00, #FF5C00);;
    color: white;
}
.budget-row.yellow {
    background: linear-gradient(0deg, #EAE000, #EAE000);;
    color: white;
}
.budget-row.green {
    background: linear-gradient(0deg, #008344, #008344);
    color: white;
}